.statistics{
    margin-top: 70px;
    margin-left: 210px;
    background-color: white;
}

.statistics .filterboxes{
    display: flex;
    flex-wrap: wrap;
}

.statistics .statistics-table{
    width: 50%;
}
